@model TechJobsPersistent.ViewModels.AddJobViewModel

<h1>Add a Job</h1>

<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" />
        <span></span>
    </div>
    <div class="form-group">
        <!--Our label and input tags for choosing an Employer when creating a job-->
        <label></label>
        <!--What is the dropdown menu HTML form element called?-->
        <select></select>
        <!--We need a link that takes us to the add employer form-->
        <a></a>
    </div>
    <div class="form-group">
        <!--Loop through each skill in our list of Skill objects-->
        <!--How do we access our list of Skills here in the view?-->
        <!--foreach skill in our list of all skills in the view model!-->
        @foreach (Skill skill in blank)
        {
            <label>@skill.Name</label>
            <input type="checkbox" name="selectedSkills" value="@skill.Id" />
        }
    </div>
    <input type="submit" value="Add Job" />
</form>

